<div class="overlayBar" fxLayout="row"><!-- Should be 3 cols -->
  <div class="scores" fxFlex="33%">
    <app-score-info [songPlayerStatus]="songPlayerStatus"></app-score-info>
  </div>
  <div class="progressArea" fxFlex="33%" fxLayout="column">
    <div class="progressTop" fxFlex="row">
<!--      <div class="health" fxFlex="75%">-->
<!--        <mat-icon>add_circle</mat-icon>-->
<!--        {{ health * 100 }}%-->
<!--      </div>-->
<!--      <div class="targetCounters">-->
<!--        <mat-icon>query_builder</mat-icon>-->
<!--        {{ targetMissTimingCounter }}-->
<!--        <mat-icon>adjust</mat-icon>-->
<!--        {{ targetMissAimCounter }}-->
<!--        <mat-icon>help</mat-icon>-->
<!--        {{ targetMissOtherCounter }}-->
<!--      </div>-->
    </div>
    <div class="progressBottom">
<!--      <span class="timeElapsed">{{ timeElapsed }}</span>-->
<!--      <mat-progress-bar mode="determinate" [value]="progress * 100"></mat-progress-bar>-->
<!--      <span class="timeRemaining">{{ timeRemaining }}</span>-->
    </div>
  </div>
  <div class="songDetails" fxFlex="33%">
<!--    <div class="songName">{{ songName }}</div>-->
<!--    <div class="songArtist">{{ songArtist }}</div>-->
<!--    <div class="songAuthor">{{songAuthor}}</div>-->
<!--    <div class="difficulty">{{difficulty}}</div>-->
  </div>
</div>
