.targetCounters {
  mat-icon {
    vertical-align: text-bottom;
  }
  table {
    border-spacing: 0;

    td {
      height: 30px;
      width: 100px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid grey;
    }
    .handLabel {
      font-weight: bold;
    }
    .leftHand td {
      background-color: rgba(0,0,255, 0.5);
    }
    .rightHand td {
      background-color: rgba(0, 255, 0, 0.5);
    }
    .totalTargets {
      font-size: 30px;
      background-color: #000 !important;
      width: 150px;
      text-align: center;
    }

  }

}

.targetHits {
  mat-icon {
    vertical-align: text-bottom;
  }
  width: 100px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;

}

.targetMiss {
  mat-icon {
    vertical-align: text-bottom;
  }
  width: 100px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.health {
  mat-icon {
    vertical-align: middle;
  }
  .k-gauge {
    display: block;
  }
  kendo-arcgauge {
    width: 50px;
    border: 1px solid white;
  }
}

.progressBottom {
  margin-top: 15px;
}
.songTime {
  .timeElapsed {
    width: 100px;
    float: left;
  }

  .timeRemaining {
    width: 100px;
    float: right;
    text-align: right;
  }
  mat-progress-bar {
    margin-top: 5px;
  }
}
