.totalTargets {
  text-align: center;
  font-size: 30px;
}

.targetStatsLeftHand {
  background-color: rgba(0,0,255, 0.5);

}

.targetStatsRightHand {
  background-color: rgba(0, 255, 0, 0.5);
}

.targetHits {
  mat-icon {
    //color: green;
    vertical-align: text-bottom;
  }
  width: 100px;
  border: 1px solid white;
  //float: left;
  margin-right: 3px;
  margin-bottom: 3px;

}

.targetMiss {
  mat-icon {
    //color: green;
    vertical-align: text-bottom;
  }
  width: 100px;
  border: 1px solid white;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.health {
  font-size: 45px;
}

.progressBottom {
  margin-top: 15px;
}
.songTime {
  .timeElapsed {
    width: 100px;
    float: left;
  }

  .timeRemaining {
    width: 100px;
    float: right;
    text-align: right;
  }
  mat-progress-bar {
    margin-top: 5px;
  }
}
