<div>
<!--  <div class="totalTargets">-->
<!--    {{ getTargetHits() }} /  {{ getTargetTotal() }}-->
<!--  </div>-->
  <div class="targetCounters">
    <table>
      <tr>
        <th></th>
        <th>Hits</th>
        <th>Standard</th>
        <th>Sustain</th>
        <th>Vertical</th>
        <th>Horizontal</th>
        <th>Chain Start</th>
        <th>Chain</th>
        <th>All Targets</th>
      </tr>
      <tr class="leftHand">
        <td class="handLabel">Left</td>
        <td>
          <mat-icon>check_circle</mat-icon>
          {{ getTargetHits('Left') }} / {{ getTargetTotal('Left') }}
        </td>
        <td>
          <mat-icon>adjust</mat-icon>
          {{ getTargetHits('Left', 'Standard') }} / {{ getTargetTotal('Left', 'Standard') }}
        </td>
        <td>
          <mat-icon>stop</mat-icon>
          {{ getTargetHits('Left', 'Hold')}} / {{ getTargetTotal('Left', 'Hold')}}
        </td>
        <td>
          <mat-icon>panorama_vertical</mat-icon>
          {{ getTargetHits('Left', 'Vertical')}} / {{ getTargetTotal('Left', 'Vertical')}}
        </td>
        <td>
          <mat-icon>panorama_horizontal</mat-icon>
          {{ getTargetHits('Left', 'Horizontal')}} / {{ getTargetTotal('Left', 'Horizontal')}}</td>
        <td>
          <mat-icon>link</mat-icon>
          {{ getTargetHits('Left', 'ChainStart')}} / {{ getTargetTotal('Left', 'ChainStart')}}</td>
        <td>
          <mat-icon>hdr_weak</mat-icon>
          {{ getTargetHits('Left', 'Chain')}} / {{ getTargetTotal('Left', 'Chain')}}</td>
        <td rowspan="3" class="totalTargets">
          {{ getTargetHits() }} /  {{ getTargetTotal() }}
              <div class="health">
<!--                <kendo-arcgauge [value]="songPlayerStatus.health * 100" [colors]="healthGaugeColors">-->
<!--                  <ng-template kendoArcGaugeCenterTemplate let-value="value">-->
<!--                    {{ value }}%-->
<!--                  </ng-template>-->
<!--                </kendo-arcgauge>-->
                <mat-icon>favorite</mat-icon>{{ songPlayerStatus.health }}%
              </div>

        </td>
      </tr>
      <tr class="rightHand">
        <td class="handLabel">Right</td>
        <td>
          <mat-icon>check_circle</mat-icon>
          {{ getTargetHits('Right') }} / {{ getTargetTotal('Right') }}
        </td>
        <td>
          <mat-icon>adjust</mat-icon>
          {{ getTargetHits('Right', 'Standard') }} / {{ getTargetTotal('Right', 'Standard') }}
        </td>
        <td>
          <mat-icon>stop</mat-icon>
          {{ getTargetHits('Right', 'Hold')}} / {{ getTargetTotal('Right', 'Hold')}}
        </td>
        <td>
          <mat-icon>panorama_vertical</mat-icon>
          {{ getTargetHits('Right', 'Vertical')}} / {{ getTargetTotal('Right', 'Vertical')}}
        </td>
        <td>
          <mat-icon>panorama_horizontal</mat-icon>
          {{ getTargetHits('Right', 'Horizontal')}} / {{ getTargetTotal('Right', 'Horizontal')}}</td>
        <td>
          <mat-icon>link</mat-icon>
          {{ getTargetHits('Right', 'ChainStart')}} / {{ getTargetTotal('Right', 'ChainStart')}}</td>
        <td>
          <mat-icon>hdr_weak</mat-icon>
          {{ getTargetHits('Right', 'Chain')}} / {{ getTargetTotal('Right', 'Chain')}}</td>
      </tr>
      <tr class="melee">
        <td class="handLabel">Melees</td>
        <td colspan="7">
          <mat-icon>sports_soccer</mat-icon>
          {{ getTargetHits('', 'Melee') }} / {{ getTargetTotal('', 'Melee') }}
        </td>
      </tr>
    </table>

    <!--    <div class="health" fxFlex="20%">-->
    <!--      <kendo-arcgauge [value]="songPlayerStatus.health * 100" [colors]="healthGaugeColors">-->
    <!--        <ng-template kendoArcGaugeCenterTemplate let-value="value">-->
    <!--          {{ value }}%-->
    <!--        </ng-template>-->
    <!--      </kendo-arcgauge>-->
    <!--      {{ songPlayerStatus.health * 100 }}-->
    <!--    </div>-->
  </div>
</div>
